.banner {
    background: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Mallard2.jpg) center center no-repeat #000;
    background-size: cover;
    width: auto;
    height: 600px;
    text-align: center;
    box-sizing: border-box;
    padding: 205px;
    margin: 0 auto;
}

h1, h2 {
    color: red;
}

button {
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    padding: 2px 4px;
}
