.banner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Mallard2.jpg);
    background-size: cover;
    height: 400px;
    width: 600px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid;
    border-color: black;
    box-sizing: border-box;
    padding: 90px;
    margin: 0 auto;
}

h1, h2 {
    color: red;
}
